@model BAL.Model.BookingDTO

<div class="booking">
	@Html.Partial("_Header", "Reserve Now")
	<div class="page-body">
		Would you like to reserve room <b>@Model.Name</b>?

		<table class="booking-input-table">
			<tr>
				<td>From</td>
				<td>To</td>
			</tr>
			<tr>
				<td><input type="time" required="required" value="@Model.StartTime.Hours.ToString("00"):@Model.StartTime.Minutes.ToString("00")" class="start-time time-input" /></td>
				<td><input type="time" required="required" value="@Model.EndTime.Hours.ToString("00"):@Model.EndTime.Minutes.ToString("00")" class="end-time time-input" /></td>
			</tr>
		</table>

		<button type="button" class="btn-book blue-button" onclick="BookNow('@Model.Email')">Book Now</button>
		<button type="button" class="btn-cancel blue-button" onclick="ShowRooms($.cookie('LastSelectedOffice'))">Cancel</button>
	</div>
</div>