@model BAL.Model.BookingDTO

<div class="booking">
	@Html.Partial("_Header", "Reserve Now")
	<div class="page-body">
		Would you like to reserve room <b>@Model.Name</b>?

		<table class="booking-input-table">
			<tr>
				<td>From</td>
				<td>To</td>
			</tr>
			<tr>
				<td><input class="start-time time-input" /></td>
				<td><input class="end-time time-input" /></td>
			</tr>
		</table>

		<button type="button" class="btn-book blue-button" onclick="BookNow('@Model.Email')">Book Now</button>
		<button type="button" class="btn-cancel blue-button" onclick="ShowRooms($.cookie('LastSelectedOffice'))">Cancel</button>
	</div>
</div>

<script type="text/javascript">
	// Pickers initialization
	$('.start-time').pickatime({
		format: 'HH:i',
		formatLabel: 'HH:i',
		interval: 5
	});

	$('.end-time').pickatime({
		format: 'HH:i',
		formatLabel: 'HH:i',
		interval: 5
	});

	// Get pickers
	var startTimePicker = $('.start-time').pickatime('picker');
	var endTimePicker = $('.end-time').pickatime('picker');

	// Set pickers values
	startTimePicker.set('select', [@Model.StartTime.Hours, @Model.StartTime.Minutes]);
	endTimePicker.set('select', [@Model.EndTime.Hours, @Model.EndTime.Minutes]);
</script>