@model BAL.Model.BookingDTO

<div class="booking">
	@Html.Partial("_Header", "Reserve Now")
	<div class="page-body">
		Would you like to reserve room <b>@Model.Name</b>?<br/>

		<input type="time" required="required" value="@Model.StartTime.Hours.ToString("00"):@Model.StartTime.Minutes.ToString("00")" class="start-time time-input" />
		<input type="time" required="required" value="@Model.EndTime.Hours.ToString("00"):@Model.EndTime.Minutes.ToString("00")" class="end-time time-input" />

		<button type="button" class="btn-book blue-button button" onclick="BookNow('@Model.Email', '@Model.Name')">Book Now</button>
		<button type="button" class="btn-cancel blue-button button" onclick="ShowRooms($.cookie('LastSelectedOffice'))">Cancel</button>

		@if (Model.AvalaibleTime.Count > 0)
		{
			<span>Room is also available at: </span>
			<ul>
				@foreach (var avTime in Model.AvalaibleTime)
				{
					<li>@avTime.Message</li>
				}
			</ul>
		}
	</div>
</div>