@model List<BAL.Model.Office>

<div class="offices">
	@Html.Partial("_Header", "Choose your location:")
	<div class="items-list">
		@foreach (var item in Model)
		{
			<div class="list-item" onclick="ShowRooms('@item.Email')">
				<img src="/Content/img/outlook-icon.png" alt="" class="list-item-photo"/>
				<p class="list-item-name">@item.Name</p>
				<p class="list-item-info">
					<span class="list-item-time"><!-- --></span>
				</p>
				<div class="fav-office-star @item.CssClass" onclick="ToggleFavouriteOffice('@item.Email')">&#9734;</div>
			</div>
		}
	</div>
</div>